<div class="card card-outline-primary">
    <h5  ng-class="{'collapsed': TablesCtrl.tablesCollapsed}" class="card-header card-inverse card-primary card-icon" ng-click="TablesCtrl.tablesCollapsed = !TablesCtrl.tablesCollapsed">
        Tables ( {{TablesCtrl.tournament.tables.length}} / {{TablesCtrl.tournament.slots/2}} )
    </h5>
    <ul class="list-group list-group-flush" uib-collapse="TablesCtrl.tablesCollapsed">
        <li class="list-group-item" ng-repeat="table in TablesCtrl.tournament.tables |toArray |orderBy: 'name': false : TablesCtrl.compare">
            {{table.name}}&nbsp;<i>{{table.scenario}}</i>
            <span class="ml-auto">
                <button type="button" class="btn btn-primary btn-xs" ng-click="table.detailsVisible = !table.detailsVisible">
                    <i class="fa fa-chevron-down"></i> Details
                </button>
                <button type="button" class="btn btn-danger btn-xs" ng-click="TablesCtrl.deleteTable(table)">
                    <i class="fa fa-times"></i> Remove
                </button>
            </span>
            <div class="w-100" uib-collapse="!table.detailsVisible">
                <edit-table></edit-table>
            </div>
        </li>
        <div class="card-block">
            <add-table></add-table>
        </diV>
    </ul>
</div>
