<form class="form-horizontal my-3" ng-submit="TablesCtrl.addTable()">
    <input ng-model="TablesCtrl.table.name" type="text" id="table_name" class="form-control first" placeholder="Name" required autofocus>
    <select ng-model="TablesCtrl.table.scenario" class="form-control" id="table_scenario">
        <option value="Entrenched">Entrenched</option>
        <option value="Line Breaker">Line Breaker</option>
        <option value="Take and hold">Take and hold</option>
        <option value="The Pit">The Pit</option>
        <option value="Extraction">Extraction</option>
        <option value="Incursion">Incursion</option>
        <option value="Outlast">Outlast</option>
        <option value="Recon">Recon</option>
    </select>

    <button class="btn btn-sm btn-success my-3 float-right" type="submit">Add table</button>
    <p ng-show="TablesCtrl.errorAdd" class="card-block text-danger mb-0" role="alert">
        <i class="fa fa-exclamation-circle"></i> Server Error : Unable to add table.
    </p>
</form>
