<form name="addTableForm" class="form-horizontal my-3" ng-submit="TablesCtrl.addTable()">
    <input ng-model="TablesCtrl.table.name" type="text" id="add_table_name" class="form-control first" placeholder="Name" required autofocus>
    <select class="form-control" id="table_scenario" ng-model="TablesCtrl.table.scenario">
        <option ng-repeat="scenario in TablesCtrl.scenarios track by $index" value="{{scenario.name}}">{{scenario.name}}</option>
    </select>

    <button class="btn btn-sm btn-success my-3 float-right" type="submit">Add table</button>
    <p ng-show="TablesCtrl.errorAdd" class="card-block text-danger mb-0" role="alert">
        <i class="fa fa-exclamation-circle"></i> Server Error : Unable to add table.
    </p>
</form>
