.panel-heading .panel-title:after{
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e082";
    float: right;
    opacity:0.6;
}
.panel-heading.collapsed .panel-title:after  {
    /* symbol for "collapsed" panels */
    content: "\e081";
}

.ng-invalid.ng-dirty{
    border-color: #FA78FE
}
.ng-valid.ng-dirty{
    border-color: #78FA89
}
.mtn,
.mt0 {
    margin-top: 0;
}

.mas {
    margin: 1rem;
}

.mts {
    margin-top: 1rem;
}

.mtm {
    margin-top: 2rem;
}

.mtl {
    margin-top: 4rem;
}

.mrn,
.mr0 {
    margin-right: 0;
}

.mrs {
    margin-right: 1rem;
}

.mrm {
    margin-right: 2rem;
}

.mrl {
    margin-right: 4rem;
}

.mbn,
.mb0 {
    margin-bottom: 0;
}

.mbs {
    margin-bottom: 1rem;
}

.mbm {
    margin-bottom: 2rem;
}

.mbl {
    margin-bottom: 4rem;
}

.mln,
.ml0 {
    margin-left: 0;
}

.mls {
    margin-left: 1rem;
}

.mlm {
    margin-left: 2rem;
}

.mll {
    margin-left: 4rem;
}

.nav-tabs-primary {
    border-bottom: 1px solid #337ab7;
}


.nav-tabs-primary > li > a:hover {
    border-color: #2e6da4 #2e6da4 #2e6da4;
}
.nav-tabs-primary > li.active > a,
.nav-tabs-primary > li.active > a:hover,
.nav-tabs-primary > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-bottom-color: transparent;
}
.font-bold {
    font-weight: bold;
}
.font-normal {
    font-weight: normal;
}

.played{
    color:green;
}
.float-right{
    float: right;;
}
.cygnar::before {
    background-image: url('images/cygnar.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.cryx::before {
    background-image: url('images/cryx.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.convergenceofcyriss::before {
    background-image: url('images/cyriss.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.khador::before {
    background-image: url('images/khador.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.legionofeverblight::before {
    background-image: url('images/legion.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.protectorateofmenoth::before {
    background-image: url('images/menoth.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.mercenary::before {
    background-image: url('images/mercs.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.minions::before {
    background-image: url('images/minions.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.circleorboros::before {
    background-image: url('images/orboros.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.retributionofscyrah::before {
    background-image: url('images/scyrah.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.trollbloods::before {
    background-image: url('images/troll.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.skorne::before {
    background-image: url('images/skorne.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
