<form name="tableForm" ng-submit="EditCtrl.updateTournament()">

    <fieldset class="form-group">
        <input ng-model="table.name" type="text" class="form-control" placeholder="table name" title="Name" />
        <select ng-model="table.scenario">
            <option value="Destruction">Destruction</option>
            <option value="The Pit">The Pit</option>
            <option value="Incursion">Incursion</option>
            <option value="Entrenched">Entrenched</option>
        </select>

    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Edit" />
        <button ng-click="EditCtrl.deleteTable(table)">Delete</button>
    </fieldset>
</form>
