<div class="game-container">
    <div class="game-row">
        <div class="flex-3">
            {{GamesCtrl.Table().name}}<br /> <small>({{GamesCtrl.Table().scenario}})</small>
        </div>
        <div class="flex-4" ng-drag="true" ng-drag-data="GamesCtrl.game.results[0]" ng-drop="true" ng-drop-success="GamesCtrl.onDropComplete($data, GamesCtrl.game.results[0])">
            <span class="{{GamesCtrl.Player(0).faction |trim}}">{{GamesCtrl.Player(0).name}} ({{GamesCtrl.Player(0).victory_points}})</span>
        </div>
        <div class="flex-2 mx-1">
            <button  type="button" class="btn btn-block btn-sm"
                ng-click="GamesCtrl.changeRes(GamesCtrl.game, 0, 1)"
                ng-class="[{'btn-outline-secondary': GamesCtrl.game.results[0].victory_points==0 && GamesCtrl.game.results[1].victory_points==0},
                            {'btn-danger': GamesCtrl.game.results[0].victory_points==0 && GamesCtrl.game.results[1].victory_points==1},
                            {'btn-success': GamesCtrl.game.results[0].victory_points==1}]">
                            {{GamesCtrl.game.results[0].victory_points==0 && GamesCtrl.game.results[1].victory_points==0 ? 'Victory ?' : GamesCtrl.game.results[0].victory_points==1 ? 'Win' : 'Loss'}}
            </button>
        </div>
        <div class="flex-1 mx-1"><input ng-model="GamesCtrl.game.results[0].scenario_points" type="text" min=0 max=5 class="form-control form-control-sm" placeholder="SP" title="ScenarioPoints" ng-change="GamesCtrl.updateGame()" ng-model-options='{ debounce: 1000 }' required/></div>
        <div class="flex-1 mx-1"><input ng-model="GamesCtrl.game.results[0].destruction_points" type="text" min=0 class="form-control form-control-sm" placeholder="DP" title="DestructionPoints" ng-change="GamesCtrl.updateGame()" ng-model-options='{ debounce: 1000 }' required/></div>
        <div class="flex-1 mx-1">vs</div>
        <div class="flex-2 mx-1">
            <button  type="button" class="btn btn-block btn-sm"
                ng-click="GamesCtrl.changeRes(GamesCtrl.game, 1, 0)"
                ng-class="[{'btn-outline-secondary': GamesCtrl.game.results[0].victory_points==0 && GamesCtrl.game.results[1].victory_points==0},
                            {'btn-danger': GamesCtrl.game.results[1].victory_points==0 && GamesCtrl.game.results[1].victory_points==0},
                            {'btn-success': GamesCtrl.game.results[1].victory_points==1}]">
                            {{GamesCtrl.game.results[0].victory_points==0 && GamesCtrl.game.results[1].victory_points==0 ? 'Victory ?' : GamesCtrl.game.results[1].victory_points==1 ? 'Win' : 'Loss'}}
            </button>
        </div>
        <div class="flex-1 mx-1"><input ng-model="GamesCtrl.game.results[1].scenario_points" type="text" min=0 max=5 class="form-control form-control-sm" placeholder="SP" title="ScenarioPoints" ng-change="GamesCtrl.updateGame()" ng-model-options='{ debounce: 1000 }' required/></div>
        <div class="flex-1 mx-1"><input ng-model="GamesCtrl.game.results[1].destruction_points" type="text" min=0 class="form-control form-control-sm" placeholder="DP" title="DestructionPoints" ng-change="GamesCtrl.updateGame()" ng-model-options='{ debounce: 1000 }' required/></div>
        <div class="flex-4" ng-drag="true" ng-drag-data="GamesCtrl.game.results[1]" ng-drop="true" ng-drop-success="GamesCtrl.onDropComplete($data, GamesCtrl.game.results[1])">
            <span class="{{GamesCtrl.Player(1).faction |trim}}">{{GamesCtrl.Player(1).name}} ({{GamesCtrl.Player(1).victory_points}})</span>
        </div>
    </div>
    <div class="game-row text-danger" ng-show="GamesCtrl.game.errorPairing"><i class="fa fa-exclamation-circle"></i>&nbsp;{{GamesCtrl.Player(0).name}} has already played agains {{GamesCtrl.Player(1).name}}</div>
    <div class="game-row text-warning" ng-show="GamesCtrl.game.errorOrigin"><i class="fa fa-exclamation-circle"></i>&nbsp;Same origin: {{GamesCtrl.Player(0).origin}}</div>
    <div class="game-row text-warning" ng-show="GamesCtrl.game.errorVP"><i class="fa fa-exclamation-circle"></i>&nbsp;Down pairing</div>
    <div class="game-row text-danger">
        <div class="flex-1"></div>

        <div ng-hide="GamesCtrl.game.results[0].errorTable || GamesCtrl.game.results[0].errorScenario" class="flex-10"></div>
        <div ng-show="GamesCtrl.game.results[0].errorTable" class="flex-10 text-danger"><i class="fa fa-exclamation-circle"></i>&nbsp;{{GamesCtrl.Player(0).name}} has already played on table {{GamesCtrl.Table().name}}</div>
        <div ng-show="GamesCtrl.game.results[0].errorScenario && !GamesCtrl.game.results[0].errorTable" class="flex-10 text-warning"><i class="fa fa-exclamation-circle"></i>&nbsp;{{GGamesCtrl.Player(0).name}} has already played on scenario {{GamesCtrl.Table().scenario}}</div>
        <div class="flex-1"></div>
        <div ng-hide="GamesCtrl.game.results[1].errorTable || GamesCtrl.game.results[1].errorScenario" class="flex-10"></div>
        <div ng-show="GamesCtrl.game.results[1].errorTable" class="flex-10 text-danger"><i class="fa fa-exclamation-circle"></i>&nbsp;{{GamesCtrl.Player(1).name}} has already played on table {{GamesCtrl.game.table.name}}</div>
        <div ng-show="GamesCtrl.game.results[1].errorScenario && !GamesCtrl.game.results[1].errorTable" class="flex-10 text-warning"><i class="fa fa-exclamation-circle"></i>&nbsp;{{GamesCtrl.Player(1).name}} has already played on scenario {{GamesCtrl.Table().scenario}}</div>
    </div>
</div>
