
<div class="container-fluid text-center">
    <div class="row row-center" ng-class="{'warning': game.errorPairing}">
        <div class="col-md-1">{{game.table.name}} ({{game.table.scenario}})</div>
        <div class="col-md-2">{{game.results[0].player.name}} ({{game.results[0].player.faction}}) {{game.results[0].errorTable}} {{game.results[0].errorScenario}}</div>
        <div class="col-md-1"><input ng-model="game.results[0].victory_points" type="number" min=0 max=1 class="form-control" placeholder="vitory points" title="VictoryPoints" required/></div>
        <div class="col-md-1"><input ng-model="game.results[0].scenario_points" type="number" min=0 max=5 class="form-control" placeholder="scenario points" title="ScenarioPoints" required/></div>
        <div class="col-md-1"><input ng-model="game.results[0].destruction_points" type="number" min=0 class="form-control" placeholder="destruction points" title="DestructionPoints" required/></div>
        <div class="col-md-1">vs</div>
        <div class="col-md-1"><input ng-model="game.results[1].victory_points" type="number" min=0 max=1 class="form-control" placeholder="vitory points" title="VictoryPoints" required/></div>
        <div class="col-md-1"><input ng-model="game.results[1].scenario_points" type="number" min=0 max=5 class="form-control" placeholder="scenario points" title="ScenarioPoints" required/></div>
        <div class="col-md-1"><input ng-model="game.results[1].destruction_points" type="number" min=0 class="form-control" placeholder="destruction points" title="DestructionPoints" required/></div>
        <div class="col-md-2">({{game.results[1].player.faction}}) {{game.results[1].player.name}}  {{game.results[1].errorTable}} {{game.results[1].errorScenario}}</div>
    </div>
</div>
