<form name="roundForm" ng-submit="roundForm.$valid && EditCtrl.updateTournament()" novalidate>
    <ul class="list-group">


        <li class="list-group-item">
            <div class="container-fluid text-center">
                <div class="row row-center font-bold">
                    <div class="col-md-1">Table</div>
                    <div class="col-md-2">Joueur 1</div>
                    <div class="col-md-1">Victory</div>
                    <div class="col-md-1">Scenario</div>
                    <div class="col-md-1">Destruction</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-1">Victory</div>
                    <div class="col-md-1">Scenario</div>
                    <div class="col-md-1">Destruction</div>
                    <div class="col-md-2">Joueur 2</div>
                </div>
            </div>
        </li>

        <li class="list-group-item" ng-repeat="game in round.games |orderBy: 'table.name'">
            <edit-game></edit-game>
        </li>
    </ul>
    <input type="submit" class="btn btn-primary pull-right" value="Save round" />
</form>
<button type="submit" class="btn btn-primary pull-right" ng-click=EditCtrl.bbCodeRound(round)>Export forum</button>
<button type="submit" class="btn btn-danger pull-right" ng-click=EditCtrl.deleteRound(round)>Delete Round</button>
