<form name="playerForm" ng-submit="EditCtrl.updateTournament()">

    <fieldset class="form-group">
        <h3><input ng-model="player.name" type="text" class="form-control" placeholder="player name" title="Name" /></h3>
        <select ng-model="player.faction">
            <option value="Cygnar">Cygnar</option>
            <option value="Protectorate of Menoth">Protectorate of Menoth</option>
            <option value="Khador">Khador</option>
            <option value="Cryx">Cryx</option>
            <option value="Retribution of Scyrah">Retribution of Scyrah</option>
            <option value="Convergence of Cyriss">Convergence of Cyriss</option>
            <option value="Mercenary">Mercenary</option>
            <option value="Trollbloods">Trollbloods</option>
            <option value="Circle Orboros">Circle Orboros</option>
            <option value="Skorne">Skorne</option>
            <option value="Legion of Everblight">Legion of Everblight</option>
            <option value="Minions">Minions</option>
        </select>
        <div ng-repeat="list in player.lists track by $index">
            <textarea ng-model="player.lists[$index]" type="text" class="form-control" placeholder="player list" title="List"></textarea>
        </div>
        <input type="checkbox" ng-model="EditCtrl.player.payed_fee" title="payed fee">
    </fieldset>

    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Edit" />
        <button ng-click="EditCtrl.deletePlayer(player)">Delete</button>

    </fieldset>
</form>
