<h2>Tournament description</h2>
<form name="tournamentForm" ng-submit="EditCtrl.updateTournament()">

    <fieldset class="form-group">
        <input ng-model="EditCtrl.tournament.name" type="text" class="form-control" placeholder="tournament name" title="Name" />
        <input ng-model="EditCtrl.tournament.date" type="text" class="form-control" placeholder="23/10/2016" title="Date" />
        <input ng-model="EditCtrl.tournament.format" type="number" class="form-control" placeholder="25, 50, 75..." title="Format" />
        <input ng-model="EditCtrl.tournament.slots" type="number" class="form-control" placeholder="" title="Slots" />
        <input ng-model="EditCtrl.tournament.fee_amount" type="number" step="any" class="form-control" placeholder="" title="Fee" />
    </fieldset>

    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Save" />
    </fieldset>
</form>
