// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$bg-color: #fcfcfc;
$light-gray: #adadad;
$medium-gray: #eeeeee;
$dark-gray: #505050;
$blue-primary:   #0275d8;
$darker-blue: darken($blue-primary, 15%);

$body-bg:       $bg-color;
$body-color:    $dark-gray;
$inverse-bg:    $dark-gray ;
$inverse-color: $bg-color;

$navbar-inverse-color:                 rgba($bg-color,.5);
$navbar-inverse-hover-color:           rgba($bg-color,.75) ;
$navbar-inverse-active-color:          rgba($bg-color,1) ;
$navbar-inverse-disabled-color:        rgba($bg-color,.25) ;
$navbar-inverse-toggler-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-inverse-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"), "#", "%23") ;
$navbar-inverse-toggler-border:        rgba($bg-color,.1) ;

$nav-tabs-active-link-hover-color:  $bg-color;
$nav-tabs-active-link-hover-bg: $blue-primary;
$nav-tabs-active-link-hover-border-color: #2e6da4;

$brand-inverse:             $dark-gray ;
