@import "custom";
@import '../bower_components/bootstrap/scss/bootstrap.scss';
@import '../bower_components/fontawesome/scss/font-awesome.scss';


$btn-padding-x-xs: .38rem !default;
$btn-padding-y-xs: .18rem !default;

.btn-xs {
    @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-sm, $btn-border-radius-sm);
}
.model.in .modal-dialog {
    transform: translate(0, 0);
}
.modal-backdrop.in {
    opacity: $modal-backdrop-opacity;
}

.played{
    color:green;
}

.collapse {
    display: none !important;
}

.collapse.in {
    display: block !important;
}

tr.collapse.in {
    display: table-row;
}

.played{
    color:$green;
}

tbody.collapse.in  {
    display: table-row-group;
}

.uib-typeahead-match.ng-scope.active{
    background-color: lighten($blue, 25%);
}

.card-header:after{
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f056";
    float: right;
    opacity:0.6;
}
.card-header.collapsed:after  {
    /* symbol for "collapsed" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */

    content: "\f055";
}


.jm-color {
    background-color: $bg-color;
    color: $dark-gray
}

.jm-color-reverse {
    background-color: $dark-gray;
    color: $bg-color;
}

input{
    &.first {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    &.mid {
        margin-bottom: -1px;
        border-radius: 0;
    }
    &.last {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.form-signin {
    width: 380px;
    padding: 25px;
    margin: 0 auto;
    background-color: $medium-gray;
    border-radius: 0.5rem;


}

.form-signin-heading{
    text-align: center;
    &:after {
        content:' ';
        display:block;
        border-top:1px solid $light-gray;
        margin: 15 -25px 15 -25px;
    }
}
.nav-tabs-primary {
    border-bottom: 1px solid $darker-blue;
}


.nav-tabs-primary > li > a:hover {
    border-color: #2e6da4 #2e6da4 #2e6da4;
}
.nav-link.active,
.nav-link.active > a:hover,
.nav-link.active > a:focus {
    color: #ffffff;
    cursor: default;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-bottom-color: transparent;
}
.cygnar::before {
    background-image: url('../images/cygnar.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.cryx::before {
    background-image: url('../images/cryx.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.convergenceofcyriss::before {
    background-image: url('../images/cyriss.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.khador::before {
    background-image: url('../images/khador.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.legionofeverblight::before {
    background-image: url('../images/legion.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.protectorateofmenoth::before {
    background-image: url('../images/menoth.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.mercenary::before {
    background-image: url('../images/mercs.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.minions::before {
    background-image: url('../images/minions.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.circleorboros::before {
    background-image: url('../images/orboros.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.retributionofscyrah::before {
    background-image: url('../images/scyrah.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.trollbloods::before {
    background-image: url('../images/troll.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}
.skorne::before {
    background-image: url('../images/skorne.png');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content:"";
    margin-right: 1em;
    vertical-align: middle;
}


.game-container {
    @include make-container();
    .game-row {
        @include make-row();
        display: flex;
        // justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .flex-1 { flex: 1; }
    .flex-2 { flex: 2; }
    .flex-3 { flex: 3; }
    .flex-4 { flex: 4; }
    .flex-5 { flex: 5; }
    .flex-6 { flex: 6; }
    .flex-10 { flex: 10; }

}
