<div class="modal-header"><strong>Confirm</strong></div>
<div class="modal-body">Are you sure, you want to delete this round ? </div>
<div class="modal-footer">
    <div class="alert alert-danger text-left" role="alert" ng-show="DeleteCtrl.error">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Error : Unable to delete round.
    </div>
    <button class="btn btn-danger" ng-click="DeleteRoundCtrl.ok()">Confirm</button>
    <button class="btn btn-primary" ng-click="DeleteRoundCtrl.cancel()">Cancel</button>
</div>
