<form class="form-horizontal mts mrs" ng-submit="EditCtrl.addTable()">
    <div class="form-group">

        <label for="table_name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input ng-model="EditCtrl.table.name" type="text" class="form-control" id="table_name" placeholder="Name">
        </div>

        <label for="table_scenario" class="col-sm-2 control-label">Scenario</label>
        <div class="col-sm-10" >
            <select ng-model="EditCtrl.table.scenario" class="form-control" id="table_scenario">
                <option value="Destruction">Destruction</option>
                <option value="The Pit">The Pit</option>
                <option value="Incursion">Incursion</option>
                <option value="Entrenched">Entrenched</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary pull-right">Add table</button>
        </div>
    </div>
</form>
