<form class="form-horizontal mts" ng-submit="EditCtrl.updateTournament()">
    <div class="form-group">

        <label for="table_name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input ng-model="table.name" type="text" class="form-control" id="table_name" placeholder="Name">
        </div>

        <label for="table_scenario" class="col-sm-2 control-label">Scenario</label>
        <div class="col-sm-10" >
            <select ng-model="table.scenario" class="form-control" id="table_scenario">
                <option value="Entrenched">Entrenched</option>
                <option value="Line Breaker">Line Breaker</option>
                <option value="Take and hold">Take and hold</option>
                <option value="The Pit">The Pit</option>
                <option value="Extraction">Extraction</option>
                <option value="Incursion">Incursion</option>
                <option value="Outlast">Outlast</option>
                <option value="Recon">Recon</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary pull-right">Update</button>
        </div>
    </div>
</form>
