<div class="panel panel-primary">
    <div class="panel-heading" ng-class="{'collapsed': ListCtrl.pastTournamentsCollapsed}" ng-click="ListCtrl.pastTournamentsCollapsed = !ListCtrl.pastTournamentsCollapsed">
        <h3 class="panel-title">Past tournaments</h3>
    </div>

    <ul class="list-group" uib-collapse="ListCtrl.pastTournamentsCollapsed">
        <li class="list-group-item" ng-repeat="tournament in ListCtrl.tournaments |isPast |orderBy: '-date'">
            <a ng-href="/#/tournaments/{{tournament.id}}">{{tournament.date |date:'dd/MM/yyyy'}} {{tournament.name}} </a>
            <span class="glyphicon glyphicon-remove" ng-click="ListCtrl.confirmDelete(tournament)"></span>
        </li>
    </ul>
</div>
