<!-- <div class="container-fluid text-center jm-header">
    <div class="row text-left mls">
            <h3>Jack Marshall</h3>
            <button type="submit" class="btn btn-primary pull-right">Create</button>

    </div>
</div>
 -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
          Jack Marshall
      </a>
      <button  ng-if="HeaderCtrl.user" type="button" class="btn btn-default navbar-btn navbar-right" ng-click="HeaderCtrl.logout()">Logout</button>
    </div>
  </div>
</nav>
